.ground {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.wrapper {
  width: 380px;
  // height: 456px;
  background-color: #171717;
  display: inline-block;
  padding: 24px;
  border: 1px solid #333333;
  border-radius: 2px;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 35px;
}

.text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #8d9094;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn {
  margin-bottom: 12px;
  width: 100%;
}

.err404 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

@media only screen and (max-width: 767px) {
  .ground {
    margin-top: 0;
  }
  .wrapper {
    background-color: #0d0d0d;
    border: none;
    padding: 0 15px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 31px;
  }
  .text {
    margin-top: 7px;
  }

  .btn {
    height: 48px;
  }
}
