.accordionRoot {
  border: 1px solid var(--dark-300);
  color: var(--light-100);
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  width: 163px;
  @media (max-width: 500px) {
    width: 100%;
  }
}

.accordionRoot:hover {
  background-color: #222;
}

.accordionHeader {
  margin: 0;
}

.accordionTrigger {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  font-size: 16px;
  @media (max-width: 500px) {
    display: none;
  }
}

.icon {
  transition: transform 0.2s;
}

[data-state='open'] .icon {
  transform: rotate(180deg);
}

.accordionContent {
  transition: height 0.3s ease;
  position: absolute;
  top: 39px;
  left: -1px;
  border: 1px solid var(--dark-300);
  border-top: none;
  border-radius: 0 0 2px 2px;
  width: 163px;
  @media (max-width: 500px) {
    top: 35px;
    width: 103%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.languageButton {
  background: var(--dark-700);
  border: none;
  color: var(--light-100);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
}

.languageButton:hover {
  background-color: var(--dark-300);
}

.languageButton img {
  width: 20px;
  height: 15px;
}
