.modal {
  width: 492px;
  height: 564px;
  background-color: var(--dark-300);
  margin: 0 auto;
  h1 {
    font-size: var(--font-size-xm);
    font-weight: 700;
    line-height: 36px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 24px;
    height: 60px;
    border-bottom: 1px solid var(--dark-100);
  }

  .content {
    max-width: 222px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .droparea {
      margin-bottom: 60px;
    }
  }
}
