.radiogroup_wrapper {
  display: flex;
  align-items: center;
}

.radiogroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  &:active {
    background-color: var(--dark-100);
  }
  &:hover {
    background-color: var(--dark-300);
  }
}

.radiogroup_root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-s);
}

.radiogroup_item {
  all: unset;
  position: relative;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 2px solid var(--light-100);
  border-radius: 50%;
  &:disabled {
    border-color: var(--dark-100);
  }
  &:focus {
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 36px;
      height: 36px;
      border-radius: 50%;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--dark-500);
    }
  }
}

.radiogroup_indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--light-100);
  }
}

.radiogroup_indicator_disabled {
  &::after {
    background-color: var(--dark-100);
  }
}

.radiogroup_label {
  color: var(--light-100);
  line-height: 1;
  padding-left: 2px;
}

.radiogroup_label_disabled {
  color: var(--light-900);
}