:root {
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;

  --font-size-l: 28px;
  --font-size-m: 22px;
  --font-size-xm: 20px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-xs: 133%;
  --line-height-s: 138%;
  --line-height-m: 150%;
  --line-height-l: 171%;
  --line-height-xl: 180%;
}
