.button {
  background-color: transparent;
  padding: 6px 0;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    background-color: transparent;
    color: var(--primary-100);
  }

  &:active,
  &:focus {
    border: none;
    outline: none;
  }

  svg {
    color: currentColor;
    width: 14px;
    height: 16px;

    &:hover {
      color: var(--primary-100);
    }
  }
}

.text {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-l);
  text-align: center;
}
