.cards {
    background-color: #0a0a0a;
    width: 415px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inCard {
    background-color: #181818;
    width: 100px;
    height: 100px;
    border: #a8a5a5 1px solid;
}