.wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.notice {
  margin-right: 45px;
}

.btn {
  margin-left: 36px;
}

@media screen and (max-width: 768px) {
  .btn {
    display: none;
  }
  .drop {
    margin-left: 24px;
  }
}
