.ellipsis {
  display: none;
  cursor: pointer;
  font-size: 29px;
  height: 24px;
  line-height: 12px;
  &:hover {
    color: var(--primary-500);
  }
}

@media screen and (max-width: 768px) {
  .ellipsis {
    display: block;
  }
}
