.title {
  color: var(--light-900);
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  width: 100%;
}

.wrapperInput {
  padding: 0 10px;
  background-color: var(--dark-500);
  border: 1px solid var(--dark-100);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.input {
  background-color: var(--dark-500);
  height: 34px;
  border: none;
  width: 100%;
  color: var(--light-100);

  &:focus {
    border: none;
    outline: none;
    background-color: var(--dark-500);
  }

  &::placeholder {
    color: var(--light-900);
    background-color: var(--dark-500);
  }

  &:valid {
    background-color: var(--dark-500);
  }
  &:-webkit-autofill {
    -webkit-text-fill-color: white;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:-webkit-autofill:hover {
    background-color: transparent;
  }
}

.disabled {
  .input::placeholder {
    color: var(--dark-100);
  }
}

.wrapperInput-focus {
  outline: 2px solid var(--primary-700);
  background-color: var(--dark-500);
}

.wrapperInput.disabled {
  pointer-events: none;
  color: var(--dark-100);

  &:focus {
    outline: none;
  }
}

.disabled {
  .title {
    color: var(--dark-100);
  }
}

.search {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.eye {
  display: flex;
  align-items: center;
  margin-left: 4px;
  cursor: pointer;

  svg {
    fill: gold;
    color: red;
  }
}

.error {
  border: 1px solid var(--danger-500);
}

.errorMessage {
  display: block;
  margin-top: 3px;
  color: var(--danger-500);
  font-size: 14px;
}

.active {
  outline: 1px solid white;
}

.wrapperInput-focus {
  outline: 2px solid var(--primary-700);
  background-color: var(--dark-500);
}

@media only screen and (max-width: 767px) {
  .wrapperInput {
    background-color: var(-dark-700);
  }
  .input {
    // <<<<<<< HEAD
    //     background-color: #0d0d0d !important;
    // =======
    background-color: var(-dark-700);
  }
}
