.icon{
  border: 1px solid black;
  
  &:hover {
    color: var(--primary-500);
  }
}
.cropArea {
  // display: flex; /* Для центрирования, если нужно */
  // justify-content: center;
  // align-items: center;
  // overflow:  hidden;

  img {
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
  }
}

.controls {
  position: absolute;
  bottom: 11px;
  width: 100%;
  // border: 1px solid white;
  color: black;

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 11px;
  }
}
