.iconContainer {
  background-color: var(--dark-500);
  opacity: 80%;
  border-radius: 2px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {

    &:hover {
      color: var(--primary-500);
    }
  }
}

.cropContainer {
  background-color: azure;
}

.controls {
  position: absolute;
  bottom: 11px;
  width: 100%;
  

  .buttons {
   
    display: flex;
  
    
    justify-content: space-between;
    align-items: baseline;
    padding: 0 11px;

    .buttonsLeft {
      display: flex;
      flex-direction: row;
      column-gap: 24px;

    }
  }
}
