.iconContainer {
  background-color: var(--dark-500);
  opacity: 80%;
  border-radius: 2px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid white;

  .icon {
    &:hover {
      color: var(--primary-500);
      cursor: pointer;
    }
  }
}

.cropContainer {
  background-color: azure;
}

.controls {
  position: absolute;
  bottom: 11px;
  width: 100%;

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 11px;

    .buttonsLeft {
      display: flex;
      flex-direction: row;
      column-gap: 24px;
    }
  }
}

//Styles for tooltip
.imagesTooltip {
  position: absolute;
  bottom: 49px;
  right: 0;
  background-color: var(--dark-500);
  opacity: 80%;

  display: flex;
  flex-direction: row;

  padding: 15px;

  .imageList {
    display: flex;
    column-gap: 12px;

    .imageBlock {
      position: relative;
      cursor: pointer;

      .closeBtn {
        position: absolute;
        
        top: 2px;
        right: 5px;
        
        .iconContainer {
          display: inline-block;
          width: 20px;
          height: 20px;
         

          .icon {
          
            // border: 1px solid white;
             width: 20px;
          height: 20px;
            
          }
          
        }
      }
    }

    
  }
  img {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .tooltipControls {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
  }
}
