.icon {
 
  color: white;
  
  background: gray;
  border-radius: 2px;
 
  &.disabled {
    color: var(--dark-100);
    cursor: not-allowed;

        &:hover {
          color: var(--dark-100);
        
        }
  }

  .iconImage {
    
    svg {
   
    path {
      fill: currentColor; // Используем текущий цвет текста
    }
  }}

  &:hover {
    color: var(--primary-500);
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid var(--primary-700);
    // width: max-content;
    // border-color: var(--primary-700);
  }
}
