.container {
  display: flex;
  flex-direction: column;
  max-width: 972px;
  padding-top: 25px;
}

.registeredBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  padding: 12px 24px;

  & p{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xm);
    line-height: var(--line-height-xs);
    color: var(--light-100);
  }

}